<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514278265383-n91t88a6ovn16uo1bcupf078pu0ie2m9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514278265383-n91t88a6ovn16uo1bcupf078pu0ie2m9</string>
	<key>API_KEY</key>
	<string>AIzaSyBkMl6vmT-V4IFr_0Ka4w5_x_E8BscdlXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>514278265383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fridgeApp</string>
	<key>PROJECT_ID</key>
	<string>fridgeapp-2a0b0</string>
	<key>STORAGE_BUCKET</key>
	<string>fridgeapp-2a0b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514278265383:ios:eafce5f2df8444e5133402</string>
</dict>
</plist>